/* hero slider start1 */
.hero-slider{
    --hero-slider-item-height: 20rem;
}
@media(width >= 768px){
    .hero-slider{
        --hero-slider-item-height: 25rem;
    }
}
@media(width >= 992px){
    .hero-slider{
        --hero-slider-item-height: 30rem;
    }
}
@media(width >= 1200px){
    .hero-slider{
        --hero-slider-item-height: 35rem;
    }
}
@media(width >= 1400px){
    .hero-slider{
        --hero-slider-item-height: 40rem;
    }
}
.swiper-pagination-bullet-active {
    background: var(--fc_color-primary);
}
.parallax-bg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-slide-content-parent,
.hero-slider-item{
    min-height: var(--hero-slider-item-height);
}
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--fc_color-primary);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--fc_color-primary);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
.hero-slide-content-parent{
    display: flex;
    align-items: center;
}
.hero-slide-content{
    --padding: 2rem;
    width: 100%;
    max-width: 540px;
    padding: var(--padding);
    background-color: hsla(0, 0%, 0%, 0.2);
    backdrop-filter: blur(2px);
    overflow: hidden;
    border-radius: 10px;
    color: white;
}
@media(width >= 576px){
    .hero-slide-content{
        --padding: 3rem;
    }
}

/* hero slider end */

/* new product start */
.header-title{
    position: relative;
    max-width: 540px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 1.225rem;
    border-bottom: 2px solid #dee2e6;
    padding-bottom: 0.5rem;
}

.new-product-images{
    position: relative;
}
.new-product-images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.new-product-images div{
    position: absolute;
    z-index: 2;
}
.new-product-images .status{
    top: .625rem;
    left: .625rem;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    background-color: var(--fc_color-primary);
    color: white;
    font-size: 13px;
    text-transform: capitalize;
}

.new-product-images .action {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex !important;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: .675rem 1.225rem;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 2px;
    font-size: 13px;
    text-transform: capitalize;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.new-product-item:hover .new-product-images .action{
    opacity: 1;
}
/* Detect touch devices */
@media (hover: none) {
    .new-product-images .action {
        opacity: 1;
    }
}

.new-product-images .action .btn {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;

}


.new-collenction .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.new-collenction .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: hsl(0, 0%, 80%);
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearfix:has(.category-item){
    background-color: hsla(var(--hue, 12), var(--saturation, 67%), var(--lightness, 23%), 0.05);
}
.category-item span.position-absolute{
    background-color: hsla(0, 0%, 100%,0.15);
    backdrop-filter: blur(5px);
    transition: background-color 0.115s ease-in-out;
    z-index: 1020;
}

.category-item:active span.position-absolute{
    background-color: hsla(0, 0%, 0%,0.15);
}
.clearfix:has(.promo-products-slider){
    background-image: url('../../img/promo-product-slider/Promotion-slider-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* collection product */
.collection-product{
    --space-between: 1rem;
    --image-width: 100%;
    --slider-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-between);
}
@media(width >= 768px){
    .collection-product{
        --image-width: 300px;
        --slider-width: calc(100% - calc(var(--image-width) + var(--space-between)));
    }
}
.collection-product > div:nth-child(1){
    width: var(--image-width);
}
.collection-product > div:nth-child(2){
    width: var(--slider-width);
}
