@import './fonts/fonts.css';
@import './fontawesome-pro/fontawesome-pro.css';
@import './variable.css';

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100dvh;
    font-weight: 400;
    font-size: var(--font-size-body);
    background-color: hsl(0, 0%, 97%);
}

@media(width >= 1500px ){
    .container{
        max-width: 1460px;
    }
}

a:active,
button:active{
    background-color: var(--fc_color-primary) !important;
    color: white !important;
}
